
unsafe-perm = true
canvas_binary_host_mirror=https://npmmirror.com/mirrors/node-canvas-prebuilt
@terminus:registry=https://registry.npm.terminus.io
registry=https://registry.npmmirror.com
sass_binary_site=https://npmmirror.com/mirrors/node-sass/